altair
annotated-types
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
docstring_parser
gitdb
GitPython
google-api-core
google-auth
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpc-google-iam-v1
grpcio
grpcio-status
h11
httpcore
httpx
httpx-sse
idna
Jinja2
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-core
langchain-google-vertexai
langgraph
langgraph-checkpoint
langgraph-sdk
langsmith
markdown-it-py
MarkupSafe
mdurl
msgpack
narwhals
numpy  # Ensuring compatibility with other packages
orjson
packaging
pandas
pillow
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydeck
Pygments
python-dateutil
python-dotenv
pytz
PyYAML
referencing
requests
requests-toolbelt
rich
rpds-py
rsa
shapely
six
smmap
sniffio
streamlit
tenacity
toml
tornado
typing_extensions
tzdata
urllib3
watchdog

langchain-openai
langchain-pinecone
langfuse
selenium
